body{
    display:grid;
    justify-content: center;
    background: #5DF2CC;
    background: -webkit-linear-gradient(top left, #5DF2CC, #50366A) fixed;
    background: -moz-linear-gradient(top left, #5DF2CC, #50366A) fixed;
    background: linear-gradient(to bottom right, #5DF2CC, #50366A) fixed;
}