body {
  display: flex;
  max-width: 100vw;
}

nav {
  max-width: 13vw;
  max-height: 100%;
  font-size: 1.5vw;
  text-align: center;
}

nav img {
  max-width: inherit;
}

main {
  margin-top: 50px;
  margin-left: 40px;
  max-width: 85vw;
  margin-right: 40px;
}

.container {
    max-width: 100% !important;
}

.main {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.panel {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  width: 100%;
  gap: 20px;
  margin-top: 20px;
  /* flex: 0 1 auto; */
}

.my-col {
    width: 200px;
    height: 200px;
    background-size: 10px;

    background: url("https://i.kym-cdn.com/photos/images/original/001/330/845/f24.jpg") no-repeat center;

}



    

/* .dog {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.cat {
    max-height: 33vh;
    max-width: 55vh;
    object-fit: cover;
} */

.people {
    max-height: 33vh;
    max-width: 55vh;
    object-fit: cover;
} */

.secondary {
  padding-top: 40px;
}
