{% extends 'base.html' %}

{% block content %}

<form id='author-form' action="{% url 'add' %}" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp"
      placeholder="Enter Title">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" name="text" id="description" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" name="status" id="status">
      <option>True</option>
      <option>False</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


{% endblock %}