:root {}
html {}

* {
    color: #ad102f;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightskyblue;
    justify-content: center;
    width: 100vw;
}

h1 {
    display: block;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p:first-of-type {
    width: 400px;
}

a {
    color: #775801;
}

img {
    width: 400px;
    border-radius: 25px;
}

li {
    list-style-type: square;
}

q {
    font-style: italic;
}
