body {
    background: url(https://noirlab.edu/public/media/archives/images/screen/noao-02181.jpg) no-repeat center fixed;
    background-size: cover;

}

header {
    margin-bottom: 150px;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    color: #795d5d;
}

li:first-of-type {
    flex-grow: 20;
}

li {
    padding: 20px;
    flex-grow: 1;
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: cursive;
}

h1 {
    font-size: 65px;
    margin: 0px;
    letter-spacing: 10px;
    color: #c79c9c;
}

p {
    margin: -5px 0px 30px 0px;
    color: #cea2a2;
    font-size: 20px;
}

button {
    align-self: center;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background-color: #4dcaa1;
    color: white;
}
