* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  padding: 20px;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  background-color: rgba(80, 3, 143, 0.466);
  border: 1px solid black;
  margin: 20px;
}

#button {
  margin: 20px;
}
