body{
    display: grid;
    justify-content: center;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-attachment: fixed;
}

a{
    padding-left: 35px;
}

form{
    padding-top: 20px;
}