* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


ul.header {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
}

.header li {
    padding: 20px;
}

main {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
}

div {
    display: flex;
    align-items: center;
}

h1, h4 {
    transform: rotate(-90deg);
    white-space: nowrap;
    display: block;
    margin-left: -100px;
}

h1 {
    font-size: 100pt;
    margin-left: -250px;
    margin-right: -150px;
}

aside {
    max-width: 400px;
    margin-left: 10vw;
}

ul.footer {
    list-style-type: none;
}