/*

all codes are written and created by John Robson Thu Mar 18, 2021

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

label:not(.nav-label),
input {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 300px;
  margin-bottom: 20px;
}

select {
  width: 100px;
  margin: 0 20px;
}

section:first-of-type {
  background-color: darkgray;
  padding: 20px;
  font-size: 15pt;
}

main {
  padding: 100px;
}

h1 {
    font-size: 30pt;
    margin-bottom: 20px;
}

p {
    margin: 20px;
}
